{% extends 'base.html' %} 
{% block content %}
{% load static %}
<main>

  <div class="banner" >

    <div class="container">

      <div class="slider-container has-scrollbar">

        <div class="slider-item">
          <iframe class="banner-img" src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d15955.232308376997!2d36.80422201236076!3d-1.28938677917362!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e6!4m5!1s0x182f11aec18f7c01%3A0xbe22dd050e4d9d37!2sUniversity%20of%20Nairobi%2C%20University%20Way%2C%20Nairobi!3m2!1d-1.2797441999999999!2d36.8160935!4m5!1s0x182f10ec4e8f002f%3A0xd6b6ca540f4d4701!2skenyatta%20national%20hospital!3m2!1d-1.301301!2d36.8069899!5e0!3m2!1sen!2ske!4v1684398138056!5m2!1sen!2ske" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

          {% comment %} <img src="{% static './assets/images/products/Hospital/Emergency.jpg'%} " alt="banner" class="banner-img"> {% endcomment %}
          {% comment %} <iframe class="banner-img" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.934331665235!2d36.8921892153537!3d-1.2061253358856419!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f3f084e5714a1%3A0x33f1a5ce6f739a06!2sCanopy%20Bar!5e0!3m2!1sen!2ske!4v1677962163826!5m2!1sen!2ske" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> {% endcomment %}
          {% comment %} <iframe class="banner-img" src="https://www.google.com/maps/embed?pb=!1m12!1m8!1m3!1d24273.35304268702!2d36.79508511460711!3d-1.2931005089886969!3m2!1i1024!2i768!4f13.1!2m1!1sTHE%20NAIRobi%20hospital%20iframe!5e0!3m2!1sen!2ske!4v1684393991660!5m2!1sen!2ske" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> {% endcomment %}
        </div>

      </div>

    </div>

  </div>




    <!--
      - CATEGORY
    -->

    <div class="category">

      <div class="container">

        <div class="category-item-container has-scrollbar">

          {% for category in links %}

          <div class="category-item">


            <div class="category-content-box">

              <div class="category-content-flex">
                <h3 class="category-item-title">{{ category.category_name }}</h3>

                <p class="category-item-amount">(53)</p>
              </div>

              <a href="{{category.get_url}}" class="category-btn">Show all</a>

            </div>

          </div>

          {% endfor %}

        </div>

      </div>

    </div>






    <!--
      - PRODUCT
    -->

    <div class="product-container">

      <div class="container">


        <!--
          - SIDEBAR
        -->

        <div class="sidebar  has-scrollbar" data-mobile-menu>

          <div class="sidebar-category">

            <div class="sidebar-top">
              <h2 class="sidebar-title">Hospital Categories</h2>

              <button class="sidebar-close-btn" data-mobile-menu-close-btn>
                <ion-icon name="close-outline"></ion-icon>
              </button>
            </div>

            <ul class="sidebar-menu-category-list">
              {% for category in links %}

              <a href={{ category.get_url }}>

                <li class="sidebar-menu-category">
  
                  <button class="sidebar-accordion-menu" data-accordion-btn>
  
                    <div class="menu-title-flex">
                      {% comment %} <img src="{{ category.cat_image.url }} " alt="gold" width="20" height="20"
                        class="menu-title-img"> {% endcomment %}
  
                      <p class="menu-title">{{ category.category_name }}</p>
                    </div>
  
                    <div>
                      <ion-icon name="add-outline" class="add-icon"></ion-icon>
                      <ion-icon name="remove-outline" class="remove-icon"></ion-icon>
                    </div>
  
                  </button>
                </li>
              </a>

              {% endfor %}

            </ul>

          </div>
        </div>



        <div class="product-box">

          <!--
            -GOLD BARS
          -->
          <div class="product-main">

            {% if 'search' in request.path %}
            <h2 class="title" style="text-transform: uppercase;">Seach Result</h2>
            {% else %}
            <h2 class="title" style="text-transform: uppercase;">Ambulances or Medical Shuttles near me</h2>

            {% endif %}

            <div class="product-grid">
              {% if nearest_vehicles %}
              {% for vehicle in nearest_vehicles%}
              <div class="showcase">

                <div class="showcase-banner">
                  <p class="product-img default" width="300"></p>
                 
                    
                    
                  <div class="showcase-actions">
                    <button class="btn-action">
                      <ion-icon name="heart-outline"></ion-icon>
                    </button>

                    <button class="btn-action">
                      <ion-icon name="eye-outline"></ion-icon>
                    </button>

                    <button class="btn-action">
                      <ion-icon name="repeat-outline"></ion-icon>
                    </button>

                    <button class="btn-action">
                      <ion-icon name="bag-add-outline"></ion-icon>
                    </button>
                  </div>
                </div>

                <div class="showcase-content">
                  
                  <a href="#" class="showcase-category">{{ vehicle.vehicle_type }}</a>
                
                  <a href="#" class="showcase-category">Ksh{{ vehicle.price }}</a>


                  <h3>
                    <a href="#" class="showcase-title" style="font-weight:bold">{{ vehicle.vehicle_name }}</a>
                  </h3>

                  <h3>
                    <a href="#" class="showcase-title">Distance: {{ vehicle.distance }}km away</a>
                  </h3>

                  <div class="price-box">
                    <p class="price2" style="">Contact:{{ vehicle.contact }}</p>
                  </div>
                  
                  {% comment %} <p class="showcase-badge angle black">Ambulance Available</p> {% endcomment %}

                </div>

              </div>
              {% endfor %}
              {% else %}
                <div>
                  <p >No hospitals Found.Please Try Again</p>
                </div>
              {% endif %}
            </div>

          </div>

        </div>

      </div>

    </div>

  </main>


{% endblock content %}

